body
{
	display:flex;
	flex-direction:column;
}

main
{
	display:flex;
}

.section
{
	max-width:300px;
	width:300px;
	height:7em;
	background:#88c1d0;
	margin:0.5em;
}



@media only screen and (min-width: 1600px)
{
	main
	{
		flex-direction:row;
	}
}


@media only screen and (min-width: 768px) and (max-width: 1599px)
{
	main
	{
		flex-wrap:wrap;
		width:700px;
	}
}

@media only screen and (max-width: 767px) 
{

	main
	{
		align-items:center;
		flex-direction:column;
	}
}
